<!DOCTYPE html>
<html>
<head>
    <meta charset="{{ _charset }}" />
    <title>Une Erreur 404 est survenue</title>
</head>
<body>
<h1>Oops! Une erreur 404</h1>
<h2>La page que vous cherchez n'existe pas (ou plus)</h2>
</body>
</html>
